# Rapid intro to python

<!--TABLE OF CONTENTS-->
Contents:
- [1 Commenting](#1-Commenting)
- [2 Printing](#2-Printing)
- [3 Numbers and arithmetic](#3-Numbers-and-arithmetic)
  - [3.1 Integers](#3.1-Integers)
  - [3.2 Floats](#3.2-Floats)
  - [3.3 Other operations](#3.3-Other-operations)
  - [3.4 Switching between formats](#3.4-Switching-between-formats)
  - [3.5 String "arithmetic"](#3.5-String-"arithmetic")
- [4 Variables](#4-Variables)
- [5 Boolean types and logical operations](#5-Boolean-types-and-logical-operations)
- [6 Lists and subsetting](#6-Lists-and-subsetting)
  - [6.1 Basics](#6.1-Basics)
  - [6.2 Sub-setting strings](#6.2-Sub-setting-strings)
  - [6.3 Appending lists](#6.3-Appending-lists)
  - [6.4 Nested lists](#6.4-Nested-lists)
  - [6.5 References and values](#6.5-References-and-values)
  - [7 Dictionaries](#7-Dictionaries)
- [8 Flow control](#8-Flow-control)
  - [8.1 `range`](#8.1-`range`)
  - [8.2 `for`-loops](#8.2-`for`-loops)
  - [8.3 `while`-loops](#8.3-`while`-loops)
  - [8.4 `if-else`](#8.4-`if-else`)
  - [8.5 `enumerate`](#8.5-`enumerate`)
- [9 Functions](#9-Functions)
- [10 Objects, Classes, Attributes and Methods](#10-Objects,-Classes,-Attributes-and-Methods)

# 1 Commenting

In [2]:
# any statement preceded by a hash '#' symbol is commented out and ignored

# 2 Printing

`print("whatever")` to print things (most important debugging tool!)

In [3]:
print('hello world')

hello world

We just printed a string. We can also print numbers (and other things)

In [4]:
print(2)

2

Strings can be enclosed in single or double quotes

In [5]:
print("hello world")

hello world

# 3 Numbers and arithmetic

Python recognizes integers and floats. They behave differently when we perform operations on them

## 3.1 Integers

In [6]:
print(2+2)

4

In [7]:
print(5//2)

2

`//` is integer division. To get the remainder, use `%`

In [8]:
print(5%2)

1

## 3.2 Floats

In [9]:
print(5.0/2)

2.5

In [10]:
print(5/2)

2.5

In [11]:
print(5/2.0)

2.5

## 3.3 Other operations

In [12]:
print(5-2) # subtraction
print(5*2) # multiplication
print(5**2) # power

3
10
25

## 3.4 Switching between formats

In [13]:
print(float(5))

5.0

In [14]:
print(int(7.0))

7

## 3.5 String "arithmetic"

We can concatenate strings by "adding" them

In [15]:
print("hello")
print("world")
print("hello " + "world")

hello
world
hello world

or even multiply them

In [16]:
print(5 * "hello ")

hello hello hello hello hello

# 4 Variables

variable assignment works with `=`

In [17]:
a = 'hello'
b = ' world'
print(a+b)

hello world

In [18]:
a = 1

In [19]:
print(a)

1

In [20]:
a = a + 2

In [21]:
print(a)

3

In [22]:
a += 2

In [23]:
print(a)

5

# 5 Boolean types and logical operations

In [24]:
a = 1

In [25]:
print(a==a)

True

In [26]:
print(2>1)

True

In [27]:
print(2>3)

False

In [28]:
a = True
b = False

In [29]:
print(a and b)

False

In [30]:
print(a or b)

True

In [31]:
print(not a)

False

# 6 Lists and subsetting

## 6.1 Basics

In [6]:
a = ['one', 3, 2, 'five']

In [7]:
print(a)

['one', 3, 2, 'five']

lists are sub-settable

In [34]:
print(a[1])

3

python uses zero-indexing!

In [35]:
print(a[0])

one

## 6.2 Sub-setting strings

now that we are at it, lists are also sub-settable. To subset a range, specify the position of the first character, a colon, then one more than the position of the last character.

In [5]:
b = 'hello world'

In [2]:
print(b[0:2])

he

In [3]:
print(b[0:5])

hello

## 6.3 Appending lists

In [8]:
b = a + [4]

In [9]:
print(b)

['one', 3, 2, 'five', 4]

In [10]:
a.append(4)

In [11]:
print(a)

['one', 3, 2, 'five', 4]

## 6.4 Nested lists

In [12]:
a.append([1,2,3])
print(a)

['one', 3, 2, 'five', 4, [1, 2, 3]]

## 6.5 References and values

In [13]:
a = [1, 2]

In [14]:
b = a

In [15]:
a.append(3)

In [16]:
print(b)

[1, 2, 3]

In [17]:
a = [1, 2]

In [18]:
b = a[:]

In [19]:
a.append(3)

In [20]:
print(b)

[1, 2]

alternatively to `b = a[:]` and less cryptically, we can also write

In [21]:
b = a.copy()

## 7 Dictionaries

In [22]:
a = {"hello": 1, 
     "anteaters": "are great",
     5: "stuff"}

In [23]:
print(a[5])

stuff

In [24]:
print(a['hello'])

1

In [27]:
# print(a['stuff'])

In [28]:
a['newkey'] = 'newval'

In [29]:
print(a)

{'hello': 1, 'anteaters': 'are great', 5: 'stuff', 'newkey': 'newval'}

In [30]:
print(a.values())

dict_values([1, 'are great', 'stuff', 'newval'])

In [31]:
print(a.keys())

dict_keys(['hello', 'anteaters', 5, 'newkey'])

In [32]:
print(a.items())

dict_items([('hello', 1), ('anteaters', 'are great'), (5, 'stuff'), ('newkey', 'newval')])

note that the latter returns a list of **tuples**, which are like lists, but **immutable**

# 8 Flow control

we can use the `range()` function to create numerical lists quickly. Technically, `range()` returns a `generator` object, which we then have to pass to `list()` as an argument to make a list.

## 8.1 `range`

In [33]:
a = range(10)

In [34]:
print(a)

range(0, 10)

In [35]:
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 8.2 `for`-loops

In [36]:
for k in a:
    print(k)

0
1
2
3
4
5
6
7
8
9

In [37]:
a = ['python', 'is', 'so', 'easy', '!']
for k in a:
    print(k)

python
is
so
easy
!

## 8.3 `while`-loops

In [38]:
k = 0
while k < 10:
    print(k)
    k += 1

0
1
2
3
4
5
6
7
8
9

## 8.4 `if-else`

In [39]:
k = 0
while k < 10:
    if k%2 == 0 and k%3 == 0:
        print("%s is divisible by 2 and by 3" % k)
    elif k%2 == 0:
        print("%d is divisible by 2" % k)
    elif k%3 == 0:
        print("{} is divisible by 3".format(k))
    else:
        print(f"{k} is neither divisible by 2 nor by 3")
    k += 1

0 is divisible by 2 and by 3
1 is neither divisible by 2 nor by 3
2 is divisible by 2
3 is divisible by 3
4 is divisible by 2
5 is neither divisible by 2 nor by 3
6 is divisible by 2 and by 3
7 is neither divisible by 2 nor by 3
8 is divisible by 2
9 is divisible by 3

Note the different ways we have used to do string-insertion.

## 8.5 `enumerate`

here is how to do "standard" loops where you refer to an element of a list with an index but with a "pythonic" twist using the `enumerate()` method

In [42]:
a2 = ['one', 'two', 'three', 'four', 'five']

In [43]:
for idx, el in enumerate(a):
    print(idx, el, a[idx], a2[idx])

0 python python one
1 is is two
2 so so three
3 easy easy four
4 ! ! five

# 9 Functions

Functions are defined with the `def` keyword and return values specified after `return`

In [46]:
def add_two(x):
    return x + 2

In [47]:
add_two(5)

7

Functions need not have arguments

In [48]:
def hello():
    print('hello')

In [49]:
hello()

hello

# 10 Objects, Classes, Attributes and Methods

Everything in Python is an **object**. Python is an example of an "object oriented" programming language. OOP revolves around things called **classes**, which can be thought of as blueprints for making particular instances of themselves. 

Let's see an example (taken from Jeff Knupp): https://github.com/jeffknupp/blog/blob/master/content/2017-03-27-improve-your-python-python-classes-and-object-oriented-programming.md

In [50]:
class Account(object):

    '''
    Class for bank account objects. Each account object has attributes
        - a name: a string with the name of the customer
        - a balance: a float tracking how much money the customer has in the bank
    We will also write two methods:
        - deposit
        - withdraw
    '''

    def __init__(self, name, balance=0):
        self.name = name
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if self.balance >= amount:
            self.balance -= amount
        else:
            print('insufficient funds')

In [51]:
sebs_account = Account('seb', 1000)

In [52]:
sebs_account.name

'seb'

In [53]:
sebs_account.balance

1000

In [54]:
sebs_account.deposit(1000)

In [55]:
sebs_account.balance

2000

In [56]:
sebs_account.withdraw(5000)

insufficient funds

In [57]:
sebs_account.withdraw(500)

In [58]:
sebs_account.balance

1500